.box {
    width: 600px;
    height: 600px;
    background:#ff6600;
    box-shadow: 0 0.04rem 0.16rem 0 rgba(255, 142, 81, 0.3);
    border-radius: 0.2rem;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.success {
    width: 400px;
    height: 400px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-image: url("./img/1.gif");
    background-size: cover;
    transform: translate3d(-300%, 0, 0);
    animation: through 100ms 1 ease-in forwards;
    opacity: 0.2;
}

.replay {
    width: 80px;
    height: 40px;
    position: absolute;
    left: 180px;
    top: 500px;
    transform: translate3d(0, 300%, 0);
    animation: through 100ms 1 ease-in forwards;
    opacity: 0.8;
}

.out {
    width: 80px;
    height: 40px;
    position: absolute;
    left: 380px;
    top: 500px;
    transform: translate3d(0, 300%, 0);
    animation: through 100ms 1 ease-in forwards;
    opacity: 0.8;
}

.chess {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    float: left;
    position: relative;
}

.black {
    background-image: linear-gradient(60deg, #0e0e0e 0%, #454343 100%);
    box-shadow: 0 0.04rem 0.16rem 0 rgba(69, 69, 69, 0.3);
}

.white {
    background-image: linear-gradient(60deg, #caccc5 0%, #fffdfd 100%);
    box-shadow: 0 0.04rem 0.16rem 0 rgba(255, 253, 253, 0.3);
}

.heng {
    width: 560px;
    height: 2px;
    background: black;
    position: absolute;
    left: 20px;
    transform: translate3d(-300%, 0, 0);
    animation: through 100ms 1 ease-in forwards;
}

.shu {
    height: 560px;
    width: 2px;
    background: black;
    position: absolute;
    top: 20px;
    transform: translate3d(0, -300%, 0);
    animation: down 100ms 1 ease forwards;
}

.heng:nth-of-type(1) {
    top: 20px;
    animation-delay: 100ms;
}

.shu:nth-of-type(1) {
    left: 20px;
    animation-delay: 100ms;
}

.heng:nth-of-type(2) {
    top: 60px;
    animation-delay: 200ms;
}

.shu:nth-of-type(2) {
    left: 60px;
    animation-delay: 200ms;
}

.heng:nth-of-type(3) {
    top: 100px;
    animation-delay: 300ms;
}

.shu:nth-of-type(3) {
    left: 100px;
    animation-delay: 300ms;
}

.heng:nth-of-type(4) {
    top: 140px;
    animation-delay: 400ms;
}

.shu:nth-of-type(4) {
    left: 140px;
    animation-delay: 400ms;
}

.heng:nth-of-type(5) {
    top: 180px;
    animation-delay: 500ms;
}

.shu:nth-of-type(5) {
    left: 180px;
    animation-delay: 500ms;
}

.heng:nth-of-type(6) {
    top: 220px;
    animation-delay: 600ms;
}

.shu:nth-of-type(6) {
    left: 220px;
    animation-delay: 600ms;
}

.heng:nth-of-type(7) {
    top: 260px;
    animation-delay: 700ms;
}

.shu:nth-of-type(7) {
    left: 260px;
    animation-delay: 700ms;
}

.heng:nth-of-type(8) {
    top: 300px;
    animation-delay: 800ms;
}

.shu:nth-of-type(8) {
    left: 300px;
    animation-delay: 800ms;
}

.heng:nth-of-type(9) {
    top: 340px;
    animation-delay: 900ms;
}

.shu:nth-of-type(9) {
    left: 340px;
    animation-delay: 900ms;
}

.heng:nth-of-type(10) {
    top: 380px;
    animation-delay: 1000ms;
}

.shu:nth-of-type(10) {
    left: 380px;
    animation-delay: 1000ms;
}

.heng:nth-of-type(11) {
    top: 420px;
    animation-delay: 1100ms;
}

.shu:nth-of-type(11) {
    left: 420px;
    animation-delay: 1100ms;
}

.heng:nth-of-type(12) {
    top: 460px;
    animation-delay: 1200ms;
}

.shu:nth-of-type(12) {
    left: 460px;
    animation-delay: 1200ms;
}

.heng:nth-of-type(13) {
    top: 500px;
    animation-delay: 1300ms;
}

.shu:nth-of-type(13) {
    left: 500px;
    animation-delay: 1300ms;
}

.heng:nth-of-type(14) {
    top: 540px;
    animation-delay: 1400ms;
}

.shu:nth-of-type(14) {
    left: 540px;
    animation-delay: 1400ms;
}

.heng:nth-of-type(15) {
    top: 580px;
    animation-delay: 1500ms;
}

.shu:nth-of-type(15) {
    left: 580px;
    animation-delay: 1500ms;
}

@keyframes down {
    from {
        transform: translate3d(0, -300%, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes through {
    from {
        transform: translate3d(-300%, 0, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}
